{% extends "/layouts/layout1.html" %}

{% block title %}Sandbox{% endblock %}


{% block content%}
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Littools</li>
</ol>
</nav>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Sandbox</h1>
      <p class="lead text-muted">Space for code experiments.</p>
    </div>
  </section>
{% endblock %}
